*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: #DDD;
}

#pressKey{
    color: white;
    display: none;
    position: fixed;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding-top: 40vh;
    background-color: rgba(152, 175, 180, 0.829);
    font-size: 60pt;
    z-index: 100;
}

#input{
    padding-top: 15vh;
}

#triggerKey{
    margin-left: 10px;
    border: 2px solid gray;
    padding: 7px;
}

#triggerKey:before{
    content: "current key:  ";
}

button{
    padding: 5px;
    font-size: 13pt;
 }

h1{
    background-color: #fff;
    border-bottom: black 2px solid;
    text-align: center;
    margin-top: 0;
    position: fixed;
    line-height: 10vh;
    width: 100vw;
    height: 10vh;
    animation: fadeInFromTop 1s;
}

.fadeOut{
    animation: fadeOutToTop 1s forwards;
}

#eingabefeld{
    float: left;
    width: 400px;
    margin-right: 100px;
}

#readyStart{
    position: absolute;
    text-align: center;
    width: 100vw;
    height: 100vh;
    color: white;
    line-height: 100vh;
    background-color: #000;
    font-size: 60pt;
}

#vorgabezeit input{
    width: 95px;
}

.zebra{
    background-color: #DDD;
}

.form input{
    padding: 3px;
    float: right;
}

#form{
    display: inline-block;
}

.form div{
    padding: 10px;
    border-bottom: 2px solid black;
}

#ausgabefeld{
    float: left;
    width: 400px;
}

#ausgabefeld input{
    width: 100px;
}

#rundenÜbrig{
    text-align: center;
    height: 100vh;
    font-size: 300pt;
    float: left;
    width: 30vw;
    border-right: black 10px solid;
    margin: 0;
}

#plusMinus{
    color: white;
    margin-top: 5vh;
    font-size: 170pt;
    margin-left: 35vw;
}

#plusMinus span{
    font-size: 100pt;
}

#middle{
    padding: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
}

table{
    padding-top: 20px;
    display: inline;
    border-collapse: collapse;
}

table:first-child{
    text-transform: uppercase;
    border-top: 5px solid chocolate;
}

table:first-child td{
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
}

table td{
    padding: 10px;
    padding-left: 20px;
    font-size: 17pt;
    margin: 0;
    border-collapse: collapse;
}

#savedRaceInfo{
    font-size: 11pt;
}

article{
    padding: 20px;
    margin-bottom: 5vh;
    background-color: #FFF;
}

@keyframes fadeInFromTop{
    from{top: -50px; opacity: 0;}
    to{
        top: 0; opacity: 1;
    }
}

@keyframes fadeOutToTop{
    from{top: 0px; opacity: 1;}
    to{
        top: -100px; opacity: 0;
    }
}